<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sobre</h2>
                <hr class="light">
                <p class="text-faded">A Blueberry filmes é fruto de uma associação de jovens produtores de conteúdo audiovisual, com compromisso em produzir vídeos de qualidade visando inovação e criatividade, atendendo o perfil de cada cliente.</p>
            </div>
        </div>
    </div>
</section>
