<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nos temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Não se engane com a equipe jovem da empresa, o membro mais novo possui experiência de 10 anos relacionada a produção de vídeos de casamento e eventos. Juntos os sócios da BlueBerry somam mais de 40 anos de trabalho em gravação e edições de vídeos.</p>
            </div>
        </div>
    </div>
</section>
