<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
            	<style type="text/css">
            		h1 > img {
            			width: 100%;
            		}
            	</style>
            	<div class="col-lg-7 col-lg-offset-2 col-xs-11">
            		<h1><img src="img/Blueberry-small.png"></h1>
            	</div>
            </div>
            <hr>
            <p>Seja bem vindo ao nosso site!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Leia mais</a>
        </div>
    </div>
</header>
