<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>A BlueBerry filmes é uma empresa voltada para a produção de vídeos</h1>
            <hr>
            <p>Com uma visão jovem que tenta extrapolar o senso comum e produzir material audiovisual de qualidade, de visual rebuscado, pegando emprestado, sempre que possível, o visual bacana do cinema.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Leia mais</a>
        </div>
    </div>
</header>
